// ** BLOG & NEWS **

.blog {
  background: $whiteShade;
}

// HEADER
.blog header {
  background-image: url("../assets/blog-image-1.jpg");
}

// MAIN
.blog main .wrapper {
  @include flexBox(center, undefined);
}

.asideContainer,
.articleContainer {
  padding: 10rem 0;
  aside,
  article {
    background: $white;
    padding: 4rem;
  }
}

.asideContainer {
  min-width: 30%;
  margin-right: 4rem;
  aside {
    @include flexBox(center, undefined, column);
    h2 {
      padding-top: 1rem;
    }
    p {
      margin: 0;
    }
  }
  .recentPosts {
    margin-top: 2rem;
    h2 {
      padding: 0;
      margin-top: 0;
    }
    li::before {
      content: "•";
      padding: 1.2rem;
    }
  }
}

.blogArticle {
  margin-bottom: 4rem;
  border-bottom: 0.5rem solid $greenGrey;
}

.comment {
  display: flex;
  margin: 2rem 0;
  .imageContainer {
    min-width: 20%;
    padding-right: 2rem;
  }
  .textContainer {
    h3 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
}

article.comment:last-child {
  border-bottom: 0.5rem solid $greenGrey;
}

// Form
form {
  margin-top: 4rem;
  input {
    width: calc((100% / 2) - 0.73rem);
    border: none;
    padding: 2rem 3rem;
  }
  input[type="text"] {
    margin-right: 1rem;
  }
  textarea {
    resize: none;
    width: 100%;
    margin-top: 2rem;
    border: none;
    padding: 4rem 3rem;
  }
  input[type="submit"] {
    width: 100%;
    margin-top: 2rem;
  }
}

//Media Queries
@media (max-width: 1280px) {
  .asideContainer .recentPosts li::before {
    padding: 0.5rem;
  }
}

@media (max-width: 1000px) {
  .blog main .wrapper {
    flex-direction: column;
  }
  .asideContainer {
    width: 100%;
    padding: 5rem 0;
    .aboutWillow {
      @include flexBox(center, center, column);
      text-align: center;
      .textContainer {
        width: 70%;
      }
    }
    .recentPosts {
      align-items: center;
    }
  }
  .articleContainer {
    padding: 0 0 5rem 0;
    h2 {
      text-align: center;
    }
  }
}

@media (max-width: 560px) {
  .asideContainer .aboutWillow .textContainer {
    width: 100%;
  }
}

@media (max-width: 450px) {
  article h2 {
    font-size: 2.4rem;
  }
  .asideContainer aside,
  .asideContainer article,
  .articleContainer aside,
  .articleContainer article {
    padding: 2.5rem;
  }
  .comment .imageContainer {
    min-width: 25%;
    padding-right: 2rem;
  }
}
