//text colors
$accent: #e4a436;
$accentLight: #fde4b8;
$greenGrey: #709b6b;
$pine: #345231;
$black: #1f1f1f;
$whiteShade: #f6f6f6;
$white: #fff;

//font families
$mainFont: "Montserrat", sans-serif;
$secondFont: "Abril Fatface", serif;
