//Import partial files
@import "partials/setup";
@import "partials/variables";
@import "partials/mixins";
@import "partials/typography";
@import "partials/generalStyles";
@import "partials/blogStyles";
@import "partials/contactStyles";

// ** HOME **
.home p {
  padding-bottom: 2rem;
}

// HEADER
.home header {
  background: $pine;
}

.hero {
  @include flexBox(center, center);
  .titleContainer {
    display: flex;
    position: relative;
    left: 2rem;
    padding-right: 3rem;
    img {
      position: absolute;
      left: -5.5rem;
      top: 10rem;
    }
  }
  .imageContainer {
    box-shadow: 2rem 2.2rem 0 0 $white;
    position: relative;
    top: 5rem;
    left: 2rem;
    img {
      position: relative;
      top: 0.4rem;
    }
  }
}

// WHO'S WILLOW?
.whosWillow {
  background: $whiteShade;
  text-align: center;
  padding: 7rem 0 16rem;
  .wrapper {
    @include flexBox(center, center, column);
  }
}

// FAVOURITE THINGS, BUCKET LIST (.aboutMore)
.favouriteThings,
.bucketList {
  @include flexBox(center, center);
  .imageContainer {
    flex-basis: 50%;
    position: relative;
    img {
      width: 100%;
      position: relative;
    }
  }
  .textContainer {
    flex-basis: 50%;
  }
}

// (Favourite Things)
.favouriteThings {
  padding-top: 2rem;
  .imageContainer {
    box-shadow: -30rem 2rem 0 0 $greenGrey;
    bottom: 8rem;
    img {
      box-shadow: 2rem 2rem 0 0 $greenGrey;
      top: 0.4rem;
    }
  }
  .textContainer {
    padding-left: 10rem;
    position: relative;
    bottom: 1.2rem;
  }
}

// (Bucket List)
.bucketList {
  padding-bottom: 2rem;
  .imageContainer {
    box-shadow: 30rem 1.9rem 0 0 $pine;
    top: 5rem;
    img {
      box-shadow: 2rem 2.2rem 0 0 $pine;
    }
  }
  .textContainer {
    text-align: right;
    padding-right: 10rem;
    position: relative;
    bottom: 4rem;
  }
}

// WILLOW'S JOURNEY
.willowsJourney {
  background: $whiteShade;
  padding: 8rem 0;
}

.willowsJourney .wrapper {
  @include flexBox(center, center);
  .imageContainer {
    box-shadow: 2rem 2.2rem 0 0 $greenGrey;
  }
  .textContainer {
    flex-basis: 80%;
    padding-left: 10rem;
    position: relative;
    bottom: 1.2rem;
  }
}

.willowsJourney img {
  position: relative;
  top: 0.4rem;
}

// LANDSCAPE IMAGE
.landscapeImage .wrapper {
  max-width: 100%;
}

// GALLERY
.gallery .wrapper {
  @include flexBox(center, center);
  padding: 10rem 0;
}

.gallery li:nth-of-type(2) {
  margin: 0 3rem;
}

// FOOTER
.home footer {
  background: $whiteShade;
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 5rem 0;
  }
}

footer section {
  flex-basis: 50%;
  .footerTitles {
    @include flexBox(undefined, center);
  }
  p {
    margin-left: 6.3rem;
  }
  i {
    background: $accent;
    padding: 1.2rem;
    border-radius: 50%;
  }
}

// ******************************

// MEDIA QUERIES
@media (max-width: 1280px) {
  .hero h1 {
    font-size: 12.5rem;
  }
  .hero .titleContainer img {
    top: 6rem;
  }
  .hero .imageContainer {
    flex-basis: 30%;
  }
  .asideContainer .recentPosts li::before {
    padding: 0.5rem;
  }
}

@media (max-width: 1000px) {
  .hero {
    padding-bottom: 8rem;
  }
  .hero h1 {
    font-size: 10rem;
  }
  .hero .titleContainer img {
    width: 20%;
    left: -4rem;
    top: 5.5rem;
  }
  .hero .imageContainer {
    left: 1rem;
    top: 1rem;
  }
  .whosWillow {
    padding-bottom: 12rem;
  }
  .favouriteThings .imageContainer {
    bottom: 3.5rem;
  }
  .bucketList .imageContainer {
    top: 0;
  }
  .willowsJourney {
    padding-top: 5rem;
  }
  .blog main .wrapper {
    flex-direction: column;
  }
  .asideContainer {
    width: 100%;
    padding: 5rem 0;
    .aboutWillow {
      @include flexBox(center, center, column);
      text-align: center;
      .textContainer {
        width: 70%;
      }
    }
    .recentPosts {
      align-items: center;
    }
  }
  .articleContainer {
    padding: 0 0 5rem 0;
    h2 {
      text-align: center;
    }
  }
  .contact main .wrapper {
    flex-direction: column;
  }
  address {
    @include flexBox(center, center, column);
    width: 100%;
    margin-top: 5rem;
    text-align: center;
    .social {
      margin-left: 0;
      a {
        margin: 0 1rem;
      }
    }
  }
  .contact form {
    margin: 5rem 0;
  }
}

@media (max-width: 780px) {
  label[for="toggle"] {
    visibility: visible;
    z-index: 20;
  }
  .menu .dropdown {
    flex-direction: column;
    width: 100%;
    padding: 6rem 0;
    background: #1f1f1ffd;
    position: absolute;
    right: 0;
    top: -77rem;
    z-index: 10;
    .willowName {
      display: none;
    }
    li {
      padding: 2rem;
    }
  }
  .hero {
    flex-direction: column;
    padding-top: 5rem;
    .titleContainer {
      top: 5rem;
      left: 3.5rem;
    }
    .titleContainer img {
      top: -1rem;
    }
    h1 {
      margin-top: 0;
    }
    .imageContainer {
      width: 50%;
      left: -1rem;
      top: 2rem;
    }
  }
  .aboutMore {
    padding-top: 5rem;
    .favouriteThings .imageContainer,
    .bucketList .imageContainer {
      width: 100%;
    }
  }
  .favouriteThings .textContainer,
  .bucketList .textContainer {
    flex-basis: 100%;
    text-align: center;
    padding: 0;
  }
  .favouriteThings {
    flex-direction: column;
    .imageContainer {
      box-shadow: -25rem 2rem 0 0 $greenGrey;
    }
  }
  .bucketList {
    flex-direction: column-reverse;
    padding-top: 5rem;
    .textContainer {
      padding-top: 7rem;
    }
  }
  .willowsJourney .wrapper {
    flex-direction: column;
    .textContainer {
      flex-basis: 100%;
      padding: 5rem 0 0 0;
      text-align: center;
    }
  }
  .gallery .wrapper {
    flex-direction: column;
    padding: 1.5rem 0;
    li {
      padding: 2rem 0;
    }
    li:nth-of-type(2) {
      margin: 0;
    }
  }
  footer .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 615px) {
  .hero .imageContainer {
    width: 80%;
    top: 3.2rem;
  }
  .blog header h1,
  .contact header h1 {
    width: 80%;
    top: 23.2rem;
  }
}

@media (max-width: 560px) {
  .hero h1 {
    font-size: 8rem;
  }
  .hero .titleContainer img {
    top: -1.5rem;
    left: -3rem;
    width: 25%;
  }
  form input[type="text"],
  form input[type="email"] {
    width: 100%;
  }
  form input[type="email"] {
    margin-top: 2rem;
  }
  .asideContainer .aboutWillow .textContainer {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .hero h1 {
    font-size: 6rem;
  }
  .hero .titleContainer {
    left: 3rem;
    top: 4rem;
  }
  .hero .imageContainer {
    top: 2.5rem;
  }
  .contact header h1,
  .blog header h1 {
    font-size: 6rem;
    top: 27.5rem;
  }
  article h2 {
    font-size: 3.2rem;
    font-size: 2.4rem;
  }
  .asideContainer aside,
  .asideContainer article,
  .articleContainer aside,
  .articleContainer article {
    padding: 2.5rem;
  }
  .comment .imageContainer {
    min-width: 25%;
    padding-right: 2rem;
  }
}
