//Import partial files
@import "partials/setup";
@import "partials/variables";
@import "partials/mixins";
@import "partials/typography";

//General styles for all pages
body {
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 1440px;
  max-width: 80%;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

.menu {
  background: $pine;
  ul {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    li {
      padding: 0 20px;
    }
    a {
      transition: all 0.2s ease;
      &:hover,
      &:focus {
        border-bottom: 2px solid $accent;
      }
    }
  }
}

.button,
input[type="submit"] {
  background: $accent;
  padding: 10px 20px;
  transition: all 0.2s ease;
  border: none;
  &:hover,
  &:focus {
    background: $accentLight;
    cursor: pointer;
  }
}

.copyright {
  background: $black;
  margin: 0;
  padding: 10px 0;
}

// General styles for Blog + Contact
.blog header,
.contact header {
  background-size: cover;
  height: 400px;
  position: relative;
  h1 {
    margin: 0;
    position: absolute;
    top: 325px;
  }
}

// ** HOME **

.home p {
  padding-bottom: 20px;
}

// HEADER
.home header {
  background: $pine;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  .titleContainer {
    display: flex;
    position: relative;
    padding-right: 30px;
    img {
      position: absolute;
      left: -60px;
      top: 60px;
    }
  }
  .imageContainer {
    min-width: 30%;
    box-shadow: 20px 22px 0px 0px $white;
    position: relative;
    top: 50px;
    img {
      position: relative;
      top: 3px;
    }
  }
}

// WHO'S WILLOW?
.whosWillow {
  background: $whiteShade;
  text-align: center;
  padding: 70px 0 160px;
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// FAVOURITE THINGS, BUCKET LIST (.aboutMore)
.favouriteThings,
.bucketList {
  display: flex;
  align-items: center;
  .imageContainer {
    width: 50%;
    position: relative;
    img {
      width: 100%;
      position: relative;
    }
  }
  .textContainer {
    width: 50%;
  }
}

// (Favourite Things)
.favouriteThings {
  padding-top: 20px;
  .imageContainer {
    box-shadow: -300px 20px 0px 0px $greenGrey;
    bottom: 60px;
    img {
      box-shadow: 20px 20px 0px 0px $greenGrey;
      top: 4px;
    }
  }
  .textContainer {
    padding-left: 100px;
    position: relative;
    bottom: 35px;
  }
}

// (Bucket List)
.bucketList {
  padding-bottom: 20px;
  margin-top: 30px;
  .imageContainer {
    box-shadow: 300px 19px 0px 0px $pine;
    top: 50px;
    img {
      box-shadow: 20px 22px 0px 0px $pine;
    }
  }
  .textContainer {
    text-align: right;
    padding-right: 100px;
  }
}

// WILLOW'S JOURNEY
.willowsJourney {
  background: $whiteShade;
  padding: 80px 0;
}

.willowsJourney .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .imageContainer {
    min-width: 20%;
    background: $greenGrey;
    position: relative;
    top: 30px;
    left: 15px;
    img {
      position: relative;
      bottom: 15px;
      right: 15px;
    }
  }
  .textContainer {
    width: 80%;
    padding-left: 100px;
  }
}

// LANDSCAPE IMAGE
.landscapeImage .wrapper {
  max-width: 100%;
}

// GALLERY
.gallery .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.gallery li:nth-of-type(2) {
  margin: 0 30px;
}

// FOOTER
.home footer {
  background: $whiteShade;
}

.home footer .wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0;
  section {
    width: 50%;
    .footerTitles {
      display: flex;
      align-items: center;
    }
  }
}

.home footer {
  section p {
    margin-left: 63px;
  }
  i {
    background: $accent;
    padding: 12px;
    border-radius: 50%;
  }
}

// *******************************

// ** BLOG & NEWS **

// GENERAL
.blog {
  background: $whiteShade;
}

// HEADER
.blog header {
  background-image: url("../assets/blog-image-1.jpg");
}

// MAIN
.blog main .wrapper {
  display: flex;
  justify-content: center;
  .asideContainer,
  .articleContainer {
    padding: 100px 0;
  }
  aside,
  article {
    background: $white;
    padding: 30px;
  }
}

.asideContainer {
  min-width: 30%;
  margin-right: 30px;
  aside {
    display: flex;
    flex-direction: column;
    h2 {
      padding-top: 10px;
    }
    p {
      margin: 0;
    }
  }
  .recentPosts {
    margin-top: 30px;
    h2 {
      padding: 0;
      margin-top: 0;
    }
    li::before {
      content: "•";
      padding: 12px;
    }
  }
}

.blogArticle {
  margin-bottom: 40px;
  border-bottom: 5px solid $greenGrey;
}

.comment {
  display: flex;
  margin: 20px 0;
  .imageContainer {
    min-width: 20%;
    padding-right: 20px;
  }
  .textContainer {
    h3 {
      margin: 0;
    }
    p {
      margin: 0;
    }
  }
}

.comment2 {
  border-bottom: 5px solid $greenGrey;
}

// FORM
form {
  margin-top: 40px;
  input {
    width: calc((100% / 2) - 7.3px);
    border: none;
    padding: 20px 30px;
  }
  input[type="text"] {
    margin-right: 10px;
  }
  textarea {
    resize: none;
    width: 100%;
    margin-top: 20px;
    border: none;
    padding: 40px 30px;
  }
  input[type="submit"] {
    width: 100%;
    margin-top: 20px;
  }
}

// *******************************

// ** CONTACT ME **

.contact {
  background: $whiteShade;
}

// HEADER
.contact header {
  background-image: url("../assets/contact-image-1.jpg");
}

// MAIN
.contact main .wrapper {
  display: flex;
  address {
    background: $white;
    height: 100%;
    width: 35%;
    padding: 50px 30px;
    margin: 100px 30px 0 0;
  }
  form {
    width: 65%;
    margin: 100px 0;
  }
}

.social {
  display: flex;
  li a {
    padding-right: 40px;
    color: $pine;
    transition: all 0.2s ease;
    &:hover,
    &:focus {
      color: $accent;
    }
  }
}

address {
  font-style: normal;
  .contactEmail {
    font-weight: 700;
    padding: 20px 0;
  }
  p {
    margin: 0;
  }
}
