@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Abril Fatface", serif;
  font-size: 2rem;
  color: #1f1f1f;
  letter-spacing: 0.1rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 8rem;
  color: #f6f6f6;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.4rem;
  margin: 0;
  padding: 0 20px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0;
}

.menu ul {
  font-weight: 700;
  line-height: 2.9rem;
  text-transform: uppercase;
}

.menu ul li.willowName {
  font-family: "Abril Fatface", serif;
  font-size: 4.2rem;
  font-weight: 400;
  color: #f6f6f6;
  margin: 0;
}

.menu ul li a {
  font-family: "Montserrat", sans-serif;
  color: #f6f6f6;
  text-decoration: none;
}

.menu ul li a.selected {
  color: #e4a436;
}

label[for="toggle"] {
  font-size: 4.5rem;
  color: #f6f6f6;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

label[for="toggle"]:hover, label[for="toggle"]:focus {
  color: #e4a436;
}

.button {
  font-family: "Abril Fatface", serif;
  text-decoration: none;
  color: #1f1f1f;
  font-size: 2rem;
  line-height: 3.2rem;
  text-transform: uppercase;
}

.button:hover, .button:focus {
  color: #1f1f1f;
}

.copyright {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
}

input,
textarea {
  font-family: "Montserrat", sans-serif;
}

input[type="submit"] {
  font-family: "Abril Fatface", serif;
  text-transform: uppercase;
}

aside h2 {
  font-size: 2.4rem;
}

article h2 {
  font-size: 3.2rem;
}

.blog h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0;
  text-transform: none;
}

.recentPosts li {
  font-family: "Montserrat", sans-serif;
  line-height: 3.2rem;
  letter-spacing: 0;
}

.findOutMore {
  text-decoration: none;
  color: #709b6b;
  font-weight: 700;
}

.findOutMore:hover, .findOutMore:focus {
  text-decoration: underline;
}

.hero h1 {
  font-size: 16rem;
}

address {
  font-style: normal;
}

address .contactEmail {
  font-weight: 700;
}

.social i {
  font-size: 3rem;
}

body {
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 1440px;
  max-width: 90%;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.menu {
  background: #345231;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

.menu ul li {
  padding: 0 20px;
}

.menu ul a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu ul a:hover, .menu ul a:focus {
  border-bottom: 2px solid #e4a436;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .dropdown {
  top: 0px;
}

label[for="toggle"] {
  position: absolute;
  right: 10px;
  padding: 30px;
  visibility: hidden;
}

label[for="toggle"]:hover {
  cursor: pointer;
}

.button,
input[type="submit"] {
  background: #e4a436;
  padding: 10px 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
}

.button:hover, .button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #f0cd90;
  cursor: pointer;
}

.copyright {
  background: #1f1f1f;
  margin: 0;
  padding: 10px 0;
}

.blog header,
.contact header {
  background-size: cover;
  height: 400px;
  position: relative;
}

.blog header h1,
.contact header h1 {
  margin: 0;
  position: absolute;
  top: 325px;
}

.home p {
  padding-bottom: 20px;
}

.home header {
  background: #345231;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 20px;
  padding-right: 30px;
}

.hero .titleContainer img {
  position: absolute;
  left: -55px;
  top: 100px;
}

.hero .imageContainer {
  -webkit-box-shadow: 20px 22px 0px 0px #fff;
          box-shadow: 20px 22px 0px 0px #fff;
  position: relative;
  top: 50px;
  left: 20px;
}

.hero .imageContainer img {
  position: relative;
  top: 4px;
}

.whosWillow {
  background: #f6f6f6;
  text-align: center;
  padding: 70px 0 160px;
}

.whosWillow .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favouriteThings,
.bucketList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favouriteThings .imageContainer,
.bucketList .imageContainer {
  width: 50%;
  position: relative;
}

.favouriteThings .imageContainer img,
.bucketList .imageContainer img {
  width: 100%;
  position: relative;
}

.favouriteThings .textContainer,
.bucketList .textContainer {
  width: 50%;
}

.favouriteThings {
  padding-top: 20px;
}

.favouriteThings .imageContainer {
  -webkit-box-shadow: -300px 20px 0px 0px #709b6b;
          box-shadow: -300px 20px 0px 0px #709b6b;
  bottom: 80px;
}

.favouriteThings .imageContainer img {
  -webkit-box-shadow: 20px 20px 0px 0px #709b6b;
          box-shadow: 20px 20px 0px 0px #709b6b;
  top: 4px;
}

.favouriteThings .textContainer {
  padding-left: 100px;
  position: relative;
  bottom: 12px;
}

.bucketList {
  padding-bottom: 20px;
}

.bucketList .imageContainer {
  -webkit-box-shadow: 300px 19px 0px 0px #345231;
          box-shadow: 300px 19px 0px 0px #345231;
  top: 50px;
}

.bucketList .imageContainer img {
  -webkit-box-shadow: 20px 22px 0px 0px #345231;
          box-shadow: 20px 22px 0px 0px #345231;
}

.bucketList .textContainer {
  text-align: right;
  padding-right: 100px;
  position: relative;
  bottom: 40px;
}

.willowsJourney {
  background: #f6f6f6;
  padding: 80px 0;
}

.willowsJourney .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.willowsJourney .wrapper .imageContainer {
  -webkit-box-shadow: 20px 22px 0px 0px #709b6b;
          box-shadow: 20px 22px 0px 0px #709b6b;
}

.willowsJourney .wrapper .textContainer {
  width: 80%;
  padding-left: 100px;
  position: relative;
  bottom: 10px;
}

.willowsJourney img {
  position: relative;
  top: 4px;
}

.landscapeImage .wrapper {
  max-width: 100%;
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 100px 0;
}

.gallery li:nth-of-type(2) {
  margin: 0 30px;
}

.home footer {
  background: #f6f6f6;
}

.home footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0;
}

footer section {
  width: 50%;
}

footer section .footerTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer section p {
  margin-left: 63px;
}

footer section i {
  background: #e4a436;
  padding: 12px;
  border-radius: 50%;
}

.blog {
  background: #f6f6f6;
}

.blog header {
  background-image: url("../assets/blog-image-1.jpg");
}

.blog main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.asideContainer,
.articleContainer {
  padding: 100px 0;
}

.asideContainer aside,
.asideContainer article,
.articleContainer aside,
.articleContainer article {
  background: #fff;
  padding: 40px;
}

.asideContainer {
  min-width: 30%;
  margin-right: 40px;
}

.asideContainer aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.asideContainer aside h2 {
  padding-top: 10px;
}

.asideContainer aside p {
  margin: 0;
}

.asideContainer .recentPosts {
  margin-top: 20px;
}

.asideContainer .recentPosts h2 {
  padding: 0;
  margin-top: 0;
}

.asideContainer .recentPosts li::before {
  content: "•";
  padding: 12px;
}

.blogArticle {
  margin-bottom: 40px;
  border-bottom: 5px solid #709b6b;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.comment .imageContainer {
  min-width: 20%;
  padding-right: 20px;
}

.comment .textContainer h3 {
  margin: 0;
}

.comment .textContainer p {
  margin: 0;
}

.comment2 {
  border-bottom: 5px solid #709b6b;
}

form {
  margin-top: 40px;
}

form input {
  width: calc((100% / 2) - 7.3px);
  border: none;
  padding: 20px 30px;
}

form input[type="text"] {
  margin-right: 10px;
}

form textarea {
  resize: none;
  width: 100%;
  margin-top: 20px;
  border: none;
  padding: 40px 30px;
}

form input[type="submit"] {
  width: 100%;
  margin-top: 20px;
}

.contact {
  background: #f6f6f6;
}

.contact header {
  background-image: url("../assets/contact-image-1.jpg");
}

.contact main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

address {
  background: #fff;
  height: 100%;
  width: 35%;
  padding: 50px 30px;
  margin: 100px 30px 0 0;
}

address .contactEmail {
  padding: 20px 0;
}

address p {
  margin: 0;
}

.contact form {
  width: 80%;
  margin: 100px 0;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -15px;
}

.social a {
  padding: 15px;
  margin: 0 10px 0 0;
  color: #345231;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.social a:hover, .social a:focus {
  color: #e4a436;
}

@media (max-width: 1280px) {
  .hero h1 {
    font-size: 12.5rem;
  }
  .hero .titleContainer img {
    top: 60px;
  }
  .hero .imageContainer {
    width: 30%;
  }
}

@media (max-width: 1000px) {
  .hero {
    padding-bottom: 80px;
  }
  .hero h1 {
    font-size: 10rem;
  }
  .hero .titleContainer img {
    width: 20%;
    left: -40px;
    top: 55px;
  }
  .hero .imageContainer {
    left: 10px;
    top: 10px;
  }
  .whosWillow {
    padding-bottom: 120px;
  }
  .favouriteThings .imageContainer {
    bottom: 35px;
  }
  .bucketList .imageContainer {
    top: 0;
  }
  .willowsJourney {
    padding-top: 50px;
  }
}

@media (max-width: 780px) {
  label[for="toggle"] {
    visibility: visible;
    z-index: 20;
  }
  .menu .dropdown {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 60px 0;
    background: #1f1f1ffd;
    position: absolute;
    right: 0;
    top: -770px;
    z-index: 10;
  }
  .menu .dropdown .willowName {
    display: none;
  }
  .menu .dropdown li {
    padding: 20px;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 50px;
  }
  .hero .titleContainer {
    top: 50px;
  }
  .hero .titleContainer img {
    top: -10px;
  }
  .hero h1 {
    margin-top: 0;
  }
  .hero .imageContainer {
    width: 50%;
    top: 10px;
  }
}
