html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  color: #1f1f1f;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 8rem;
  color: #f6f6f6;
}

section.hero h1 {
  font-size: 12.5rem;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.4rem;
}

nav.menu ul {
  font-weight: 700;
  line-height: 2.9rem;
  text-transform: uppercase;
}

nav.menu ul li h2 {
  font-family: "Abril Fatface", cursive;
  color: #f6f6f6;
  margin: 0;
}

nav.menu ul li a {
  font-family: "Montserrat", sans-serif;
  color: #f6f6f6;
  text-decoration: none;
}

nav.menu ul li a.selected {
  color: #e4a436;
}

a.button {
  font-family: "Abril Fatface", cursive;
  text-decoration: none;
  color: #1f1f1f;
  font-size: 2rem;
  line-height: 3.2rem;
  text-transform: uppercase;
}

a.button:hover {
  color: #e4a436;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0px;
}

section.copyright p {
  color: #fff;
}

body {
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 1440px;
  max-width: 80%;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

header {
  background: #345231;
}

header nav.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

header nav.menu ul li {
  padding: 0 20px;
}

nav.menu a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

nav.menu a:hover {
  color: #e4a436;
}

a.button {
  background: #e4a436;
  padding: 10px 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a.button:hover, a.button:focus {
  color: black;
  background: #fde4b8;
}

p {
  padding-bottom: 20px;
}

.copyright {
  background: #1f1f1f;
}

.copyright p {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero div.titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding-right: 70px;
}

.hero div.titleContainer img {
  position: absolute;
  left: -60px;
  top: 60px;
}

.hero div.imageContainer {
  background-color: #fff;
  min-width: 20%;
  position: relative;
  top: 70px;
  left: 20px;
}

.hero div.imageContainer img {
  position: relative;
  bottom: 20px;
  right: 20px;
}

section.whosWillow {
  background: #f6f6f6;
  text-align: center;
  padding: 80px 0 180px;
}

section.whosWillow div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.aboutMore {
  padding: 20px 0;
}

section.aboutMore div.wrapper {
  max-width: 100%;
}

section.aboutMore div.favouriteThings,
section.aboutMore div.bucketList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.aboutMore div.favouriteThings div.imageContainer,
section.aboutMore div.bucketList div.imageContainer {
  min-width: 50%;
  position: relative;
}

section.aboutMore div.favouriteThings div.imageContainer img,
section.aboutMore div.bucketList div.imageContainer img {
  width: 80%;
  position: relative;
}

section.aboutMore div.favouriteThings div.textContainer,
section.aboutMore div.bucketList div.textContainer {
  width: 50%;
}

div.favouriteThings div.imageContainer {
  background: #709b6b;
  bottom: 40px;
}

div.favouriteThings div.imageContainer img {
  bottom: 20px;
  left: 125px;
}

div.favouriteThings div.textContainer {
  margin-top: -20px;
  padding: 0 100px 0 80px;
}

div.bucketList div.imageContainer {
  background: #345231;
  top: 60px;
}

div.bucketList div.imageContainer img {
  bottom: 20px;
  right: 20px;
}

div.bucketList div.textContainer {
  text-align: right;
  margin-top: -70px;
  padding: 0 100px 0 80px;
}

section.willowsJourney {
  background: #f6f6f6;
  padding: 80px 0;
}

section.willowsJourney div.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.willowsJourney div.wrapper div.imageContainer {
  min-width: 20%;
  background: #709b6b;
  position: relative;
  top: 30px;
  left: 15px;
}

section.willowsJourney div.wrapper div.imageContainer img {
  position: relative;
  bottom: 15px;
  right: 15px;
}

section.willowsJourney div.wrapper div.textContainer {
  width: 80%;
  padding-left: 100px;
}

section.landscapeImage div.wrapper {
  max-width: 100%;
}

section.gallery ul.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}

section.gallery li:nth-of-type(2) {
  margin: 0 30px;
}

footer {
  background: #f6f6f6;
}
