@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Abril Fatface", serif;
  font-size: 2rem;
  color: #1f1f1f;
  letter-spacing: 0.1rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 8rem;
  color: #f6f6f6;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3.2rem;
}

h4 {
  font-size: 2.4rem;
  margin: 0;
  padding: 0 20px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0;
}

.menu ul {
  font-weight: 700;
  line-height: 2.9rem;
  text-transform: uppercase;
}

.menu ul li.willowName {
  font-family: "Abril Fatface", serif;
  font-size: 4.2rem;
  font-weight: 400;
  color: #f6f6f6;
  margin: 0;
}

.menu ul li a {
  font-family: "Montserrat", sans-serif;
  color: #f6f6f6;
  text-decoration: none;
}

.menu ul li a.selected {
  color: #e4a436;
}

label[for="toggle"] {
  font-size: 4.5rem;
  color: #f6f6f6;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

label[for="toggle"]:hover, label[for="toggle"]:focus {
  color: #e4a436;
}

.button {
  font-family: "Abril Fatface", serif;
  text-decoration: none;
  color: #1f1f1f;
  font-size: 2rem;
  line-height: 3.2rem;
  text-transform: uppercase;
}

.button:hover, .button:focus {
  color: #1f1f1f;
}

.copyright {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  text-align: center;
}

input,
textarea {
  font-family: "Montserrat", sans-serif;
}

input[type="submit"] {
  font-family: "Abril Fatface", serif;
  text-transform: uppercase;
}

aside h2 {
  font-size: 2.4rem;
}

article h2 {
  font-size: 3.2rem;
}

.blog h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0;
  text-transform: none;
}

.recentPosts li {
  font-family: "Montserrat", sans-serif;
  line-height: 3.2rem;
  letter-spacing: 0;
}

.findOutMore {
  text-decoration: none;
  color: #709b6b;
  font-weight: 700;
}

.findOutMore:hover, .findOutMore:focus {
  text-decoration: underline;
}

.hero h1 {
  font-size: 16rem;
}

address {
  font-style: normal;
}

address .contactEmail {
  font-weight: 700;
}

.social i {
  font-size: 3rem;
}

body {
  overflow-x: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 1440px;
  max-width: 90%;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.menu {
  background: #345231;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.menu ul li {
  padding: 0 2rem;
}

.menu ul a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu ul a:hover, .menu ul a:focus {
  border-bottom: 0.2rem solid #e4a436;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

input[type="checkbox"]:checked + .dropdown {
  top: 0;
}

label[for="toggle"] {
  position: absolute;
  right: 1rem;
  padding: 3rem;
  visibility: hidden;
}

label[for="toggle"]:hover {
  cursor: pointer;
}

.button,
input[type="submit"] {
  background: #e4a436;
  padding: 1rem 2rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: none;
}

.button:hover, .button:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #f0cd90;
  cursor: pointer;
}

.copyright {
  background: #1f1f1f;
  margin: 0;
  padding: 1rem 0;
}

.blog header,
.contact header {
  background-size: cover;
  height: 40rem;
  position: relative;
}

.blog header h1,
.contact header h1 {
  margin: 0;
  position: absolute;
  top: 32.5rem;
}

.home p {
  padding-bottom: 2rem;
}

.home header {
  background: #345231;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .titleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 2rem;
  padding-right: 3rem;
}

.hero .titleContainer img {
  position: absolute;
  left: -5.5rem;
  top: 10rem;
}

.hero .imageContainer {
  -webkit-box-shadow: 2rem 2.2rem 0 0 #fff;
          box-shadow: 2rem 2.2rem 0 0 #fff;
  position: relative;
  top: 5rem;
  left: 2rem;
}

.hero .imageContainer img {
  position: relative;
  top: 0.4rem;
}

.whosWillow {
  background: #f6f6f6;
  text-align: center;
  padding: 7rem 0 16rem;
}

.whosWillow .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favouriteThings,
.bucketList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.favouriteThings .imageContainer,
.bucketList .imageContainer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  position: relative;
}

.favouriteThings .imageContainer img,
.bucketList .imageContainer img {
  width: 100%;
  position: relative;
}

.favouriteThings .textContainer,
.bucketList .textContainer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.favouriteThings {
  padding-top: 2rem;
}

.favouriteThings .imageContainer {
  -webkit-box-shadow: -30rem 2rem 0 0 #709b6b;
          box-shadow: -30rem 2rem 0 0 #709b6b;
  bottom: 8rem;
}

.favouriteThings .imageContainer img {
  -webkit-box-shadow: 2rem 2rem 0 0 #709b6b;
          box-shadow: 2rem 2rem 0 0 #709b6b;
  top: 0.4rem;
}

.favouriteThings .textContainer {
  padding-left: 10rem;
  position: relative;
  bottom: 1.2rem;
}

.bucketList {
  padding-bottom: 2rem;
}

.bucketList .imageContainer {
  -webkit-box-shadow: 30rem 1.9rem 0 0 #345231;
          box-shadow: 30rem 1.9rem 0 0 #345231;
  top: 5rem;
}

.bucketList .imageContainer img {
  -webkit-box-shadow: 2rem 2.2rem 0 0 #345231;
          box-shadow: 2rem 2.2rem 0 0 #345231;
}

.bucketList .textContainer {
  text-align: right;
  padding-right: 10rem;
  position: relative;
  bottom: 4rem;
}

.willowsJourney {
  background: #f6f6f6;
  padding: 8rem 0;
}

.willowsJourney .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.willowsJourney .wrapper .imageContainer {
  -webkit-box-shadow: 2rem 2.2rem 0 0 #709b6b;
          box-shadow: 2rem 2.2rem 0 0 #709b6b;
}

.willowsJourney .wrapper .textContainer {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  padding-left: 10rem;
  position: relative;
  bottom: 1.2rem;
}

.willowsJourney img {
  position: relative;
  top: 0.4rem;
}

.landscapeImage .wrapper {
  max-width: 100%;
}

.gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10rem 0;
}

.gallery li:nth-of-type(2) {
  margin: 0 3rem;
}

.home footer {
  background: #f6f6f6;
}

.home footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem 0;
}

footer section {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

footer section .footerTitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer section p {
  margin-left: 6.3rem;
}

footer section i {
  background: #e4a436;
  padding: 1.2rem;
  border-radius: 50%;
}

.blog {
  background: #f6f6f6;
}

.blog header {
  background-image: url("../assets/blog-image-1.jpg");
}

.blog main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.asideContainer,
.articleContainer {
  padding: 10rem 0;
}

.asideContainer aside,
.asideContainer article,
.articleContainer aside,
.articleContainer article {
  background: #fff;
  padding: 4rem;
}

.asideContainer {
  min-width: 30%;
  margin-right: 4rem;
}

.asideContainer aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.asideContainer aside h2 {
  padding-top: 1rem;
}

.asideContainer aside p {
  margin: 0;
}

.asideContainer .recentPosts {
  margin-top: 2rem;
}

.asideContainer .recentPosts h2 {
  padding: 0;
  margin-top: 0;
}

.asideContainer .recentPosts li::before {
  content: "•";
  padding: 1.2rem;
}

.blogArticle {
  margin-bottom: 4rem;
  border-bottom: 0.5rem solid #709b6b;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 0;
}

.comment .imageContainer {
  min-width: 20%;
  padding-right: 2rem;
}

.comment .textContainer h3 {
  margin: 0;
}

.comment .textContainer p {
  margin: 0;
}

.comment2 {
  border-bottom: 0.5rem solid #709b6b;
}

form {
  margin-top: 4rem;
}

form input {
  width: calc((100% / 2) - 0.73rem);
  border: none;
  padding: 2rem 3rem;
}

form input[type="text"] {
  margin-right: 1rem;
}

form textarea {
  resize: none;
  width: 100%;
  margin-top: 2rem;
  border: none;
  padding: 4rem 3rem;
}

form input[type="submit"] {
  width: 100%;
  margin-top: 2rem;
}

.contact {
  background: #f6f6f6;
}

.contact header {
  background-image: url("../assets/contact-image-1.jpg");
}

.contact main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

address {
  background: #fff;
  height: 100%;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  padding: 5rem 3rem;
  margin: 10rem 3rem 0 0;
}

address .contactEmail {
  padding: 2rem 0;
}

address p {
  margin: 0;
}

.contact form {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  margin: 10rem 0;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1.5rem;
}

.social a {
  padding: 1.5rem;
  margin: 0 1rem 0 0;
  color: #345231;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.social a:hover, .social a:focus {
  color: #e4a436;
}

@media (max-width: 1280px) {
  .hero h1 {
    font-size: 12.5rem;
  }
  .hero .titleContainer img {
    top: 6rem;
  }
  .hero .imageContainer {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  .asideContainer .recentPosts li::before {
    content: "•";
    padding: 0.5rem;
  }
}

@media (max-width: 1000px) {
  .hero {
    padding-bottom: 8rem;
  }
  .hero h1 {
    font-size: 10rem;
  }
  .hero .titleContainer img {
    width: 20%;
    left: -4rem;
    top: 5.5rem;
  }
  .hero .imageContainer {
    left: 1rem;
    top: 1rem;
  }
  .whosWillow {
    padding-bottom: 12rem;
  }
  .favouriteThings .imageContainer {
    bottom: 3.5rem;
  }
  .bucketList .imageContainer {
    top: 0;
  }
  .willowsJourney {
    padding-top: 5rem;
  }
  .blog main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .asideContainer {
    width: 100%;
    padding: 5rem 0;
  }
  .asideContainer .aboutWillow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .asideContainer .aboutWillow .textContainer {
    width: 70%;
  }
  .asideContainer .recentPosts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .articleContainer {
    padding: 0 0 5rem 0;
  }
  .articleContainer h2 {
    text-align: center;
  }
  .contact main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: center;
  }
  address .social a:last-child {
    margin: 0 10px;
  }
}

@media (max-width: 780px) {
  label[for="toggle"] {
    visibility: visible;
    z-index: 20;
  }
  .menu .dropdown {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 6rem 0;
    background: #1f1f1ffd;
    position: absolute;
    right: 0;
    top: -77rem;
    z-index: 10;
  }
  .menu .dropdown .willowName {
    display: none;
  }
  .menu .dropdown li {
    padding: 2rem;
  }
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 5rem;
  }
  .hero .titleContainer {
    top: 5rem;
    left: 3.5rem;
  }
  .hero .titleContainer img {
    top: -1rem;
  }
  .hero h1 {
    margin-top: 0;
  }
  .hero .imageContainer {
    width: 50%;
    left: 0;
    top: 2rem;
  }
  .aboutMore {
    padding-top: 5rem;
  }
  .aboutMore .favouriteThings .imageContainer,
  .aboutMore .bucketList .imageContainer {
    width: 100%;
  }
  .favouriteThings .textContainer,
  .bucketList .textContainer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
    padding: 0;
  }
  .favouriteThings {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .favouriteThings .imageContainer {
    -webkit-box-shadow: -25rem 2rem 0 0 #709b6b;
            box-shadow: -25rem 2rem 0 0 #709b6b;
  }
  .bucketList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 5rem;
  }
  .bucketList .textContainer {
    padding-top: 7rem;
  }
  .willowsJourney .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .willowsJourney .wrapper .textContainer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 5rem 0 0 0;
    text-align: center;
  }
  .gallery .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1.5rem 0;
  }
  .gallery .wrapper li {
    padding: 2rem 0;
  }
  .gallery .wrapper li:nth-of-type(2) {
    margin: 0;
  }
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 615px) {
  .blog header h1,
  .contact header h1 {
    width: 80%;
    top: 23.2rem;
  }
}

@media (max-width: 560px) {
  .hero h1 {
    font-size: 8rem;
  }
  .hero .titleContainer img {
    top: -1.5rem;
    left: -3rem;
    width: 25%;
  }
  form input[type="text"],
  form input[type="email"] {
    width: 100%;
  }
  form input[type="email"] {
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  .hero h1 {
    font-size: 6rem;
  }
  .hero .titleContainer {
    left: 3rem;
  }
  .hero .imageContainer {
    top: 2.5rem;
  }
  .contact header h1,
  .blog header h1 {
    font-size: 6rem;
    top: 27.5rem;
  }
  article h2 {
    font-size: 3.2rem;
    font-size: 2.4rem;
  }
  .asideContainer aside,
  .asideContainer article,
  .articleContainer aside,
  .articleContainer article {
    padding: 2.5rem;
  }
  .asideContainer .aboutWillow .textContainer {
    width: 100%;
  }
  .comment .imageContainer {
    min-width: 25%;
    padding-right: 2rem;
  }
}
